*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: black;
   text-decoration: none;
   margin: 20px 20px;
    text-align: center;
    font-weight: bold;
 
} 
.search{
   align-items: center;
   height: 35px;
   width: 40%;
   border-radius: 10px;
  
}
.searchbtn{
   border: none;
    
   width: 80px;
   border-radius: 10px;
}
.btnlogin{
   height: 35px;
   width: 60px;
   border: none;
   border-radius: 10px;
   color: aliceblue;
   background-color: orangered;
}
.btnsignup{
   height: 35px;
   width: 60px;
   border-radius: 10px;
   border: none;
   color: aliceblue;
   background-color: orangered;
}
.getsbrand{
   background-color: #ff6600;
   color: #fff;
   border-radius: 10px;
}
.mainheader{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url(/Assets/img/hero.jpg);
   height: 500px;
   border-radius: 10px;

}
.tagline {
   font-size: 35px;
   color:whitesmoke ;
   margin-top: 150px;
   border-radius: 10px;
   background-color: gray;
 
 }
 .h3tagline{
   background-color: gray;
   color: #fff;
   font-size: 25px;
 }

 
 span {
   color: #ff6600;
   }
  
   .button-signin {
      display: flex;
       display: inline-block;
       align-items: center;
   } 
   .button1{
      height: 50px;
      width: 100px;
      font-weight: bold;
      background-color: #ff6600;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: large;
   }
   .button2{
      height: 50px;
      width: 250px;
      font-weight: bold;
      background-color: #ff6600;
      border: none;
      border-radius: 10px;
      font-size: large;
      color: #fff;
   }

   .boxsupport{
      display: flex;
      align-items: center;
      justify-content: center;
      
   }
   div .ForHome{
      border: 1px solid orangered;
      height: 200px;
      width: 500px;
      border-radius: 10px;
   }
   .ForOrganization{
       border: 1px solid orangered;
      height: 200px;
      width: 500px;
      border-radius: 10px;
   } 
   .ForEduacators{
      border: 1px solid orangered;
      height: 200px;
      width: 500px;
      border-radius: 10px;
   }
   .adssection{
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .lazada{
      border: 3px solid orangered;
      border-radius: 18px;
   }
.Shoppe{
   border: 3px solid orangered;
   border-radius: 18px;
}
.peopleinspire{
   display: flex;
   align-items: center;
   justify-content: center;
}
.quotesinspiring{
   border-radius: 10px;
   height: 500px;
}

  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 620px) {
   @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      [class*="col-"] {
        width: 100%;
      }
   }
}